body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background: #000;
  color: #ffffff;
}

nav {
  z-index: 99;
  position: relative;
  }

  header h1, .projects h1 {
    font-size: 7.5em;
  }

   h1, p, a, small {
    color: #ffffff;
   }

   a {transition: 0.9s;}

   a:hover {
    color: #000;
    text-decoration:wavy;
   }

   P {
    display:inline-block;
    justify-content: space-between;
    align-items: center;
    size: 4em;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.9em;
    color: #ffffff;
   }

   nav a,
   footer a {
    text-decoration: none;
   } 

   nav .container {
    max-width: 1150px;
    padding: 1em 2em;
    margin: 0 auto;

   }

   nav .container > div {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
   }

   nav .menu,
   nav .social-media,
   nav .brand {
    display:inline-block;
    justify-content: space-between;
    align-items: center;

    
   }

   
  
  .social-media {
    
   size: 4em;
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }

   nav ul,
   footer ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
   }

   nav ul li,
   footer ul li {
    display: inline-block;
    margin: 0 0.5em;
    
   }

   nav ul a,
   footer ul a {
    font-size: 0.8em;
    text-transform: uppercase;
   }

  .Logo {
    width: 2em;
    display: inline-block;
  }

  nav.btn {
    background: rgba(255, 255, 255, 0.3);
  }

  footer {
    size: 4em;
    margin: 0;
  position: absolute;
  top: 95%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }
 audio {
  size: 4em;
  margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-40%, -50%);
transform: translate(-50%, -50%);
 }